body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

/* Header */
h1 {
    background: #2c3e50;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

/* Form */
.form-container {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

input, select {
    padding: 10px;
    margin: 10px;
    width: 200px;
}

button {
    padding: 10px 15px;
    border: none;
    background: #3498db;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #2980b9;
}

/* Table */
.table-container {
    background: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #2c3e50;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Status Buttons */
td button {
    padding: 5px 10px;
    border-radius: 5px;
}

/* Remove Button */
td button:last-child {
    background: rgb(204, 98, 98);
}
.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 24px;
    font-weight: bold;
}
#search {
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
}